


{{ define "title" }}
{{.Title}}
{{ end }}


{{ define "navbar" }}
{{ partial "navbar.html" }}
{{ end }}


{{ define "content" }}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item "><a href="/" style="color:#80ED99;text-decoration:none">Home</a></li>
    <li class="breadcrumb-item active " aria-current="page">About</li>
  </ol>
</nav>
<!--
|\__/,|   (`\
  _.|o o  |_   ) )
-(((---(((--------
-->

<div class="">
	<h2 style="color:#80ED99"><b>Tentang</b></h2>
	<br>
	<br>
	<small class="text-secondary">
Halo, sebelumnya terimakasih sudah mengunjugi blog pribadi saya. saya akan memulai  halaman tentang ini dengan pertanyaan "ini blog tentang apa?" "artikel apa yang saya bagikan disini?", blog ini tidak berfokus pada satu konten artikel melainkan random (acak). saya suka belajar bahasa pemogramman lebih tepatnya pada bahasa python, selain itu saya juga suka membuat seni pixel, dll. 
<br><br>
saya sering belajar banyak hal mauapun mencari informasi diinternet karena saya typical orang yang labil, sekarang belajar ini nanti belajar itu, sekarang mau jadi ini nanti mau jadi itu. nah susah bukan bagi saya untuk membuat artikel dengan tema yang sama dalam 1 blog, nantinya malahan kurang aktif menulisnya jika blog ini saya fokuskan sama satu hal seperti tentang programming, hacking, data science, dkk. karena jika nanti sewaktu-waktu saya sedang belajar hal baru semua akan saya lupakan sementara dan fokus ke hal yang sekarang dipelajari.
	</small>
	<br>
	<br>
	<small class="text-secondary">
seperti kata beberapa orang, ketika membuat sebuah blog pribadi berarti kalian seakan-akan sedang berkebun, jadi bebas mau menanam apa dikebun ini. tidak ada batasan maupun larangan dalam membagikan artikel dalam blog pribadi, hanya saja (mungkin) ini diluar dari tobiat, kebiasaan orang-orang. jadi kenapa tidak?, gambaran yang mungkin bisa saya kasih dalam blog ini saya akan membagikan artikel seperti programming, pixel art, teknologi, membagikan isi kepala saya atau sesuatu yang terlintas diotak dan apapun itu!, enjoy.
	</small>
	<br>
	<br>
	<hr>

	<p class="text-secondary">
	<i>"Don't stop dreaming of changing the world in your room."</i>
	</p>
	<div class="mt-5">
		<a href="https://trakteer.id/dhoftna">
		<img width=150 class="rounded shadow-lg" src="/assets/img/trakteer.jpg">
		</a>
	</div>
</div>
{{ end }}


{{ define "footer" }}
{{ partial "footer.html" }}
{{ end }}
