


{{ define "title" }}
{{.Title}}
{{ end }}


{{ define "navbar" }}
{{ partial "navbar.html" }}
{{ end }}


{{ define "content" }}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item "><a href="/" style="color:#80ED99;text-decoration:none">Home</a></li>
    <li class="breadcrumb-item active " aria-current="page">About</li>
  </ol>
</nav>
<!--
|\__/,|   (`\
  _.|o o  |_   ) )
-(((---(((--------
-->

<div class="">
	<h2 style="color:#80ED99"><b>Tentang</b></h2>
	<small class="text-secondary">Page <b>about </b>this is not clear 👉👈</small>
	<br>
	<br>
	<small class="text-secondary">
I have more interest in the Python programming language than any other language. I hope one day I will become a senior python developer who has various skills in the world of coding.
	</small>
	<br>
	<br>
	<small class="text-secondary">
I don't know the exact reason why I made this archiko blog (Archives Hiko) but in essence I hope it will be useful for you and for me personally. if you have message for archiko > <a href="mailto:arch.hiko" style="color:#80ED99;text-decoration:none">arch.hiko@gmail.com</a>
	</small>
	<br>
	<br>
	<hr>

	<p class="text-secondary">
	<i>"Don't stop dreaming of changing the world in your room."</i>
	</p>
	<div class="mt-5">
		<a href="https://trakteer.id/archiko">
		<img width=150 class="rounded shadow-lg" src="/assets/img/trakteer.jpg">
		</a>
	</div>
</div>
{{ end }}


{{ define "footer" }}
{{ partial "footer.html" }}
{{ end }}
