


{{ define "title" }}
{{ .Title }}
{{ end }}

{{ define "navbar" }}
{{ partial "navbar.html" }}
{{ end }}

{{ define "content" }}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item "><a href="/" style="color:#80ED99;text-decoration:none">Home</a></li>
    <li class="breadcrumb-item active " aria-current="page">Blog </li>
  </ol>
</nav>

<p class="text-white">
	<small class="" >article available</small> <span class="badge bg-dark rounded">
	{{ len (where .Site.RegularPages "Section" "=" "blog") }}
	</span>
</p>


<!--
.
                    / V\
                  / `  /
                 <<   |
                 /    |
               /      |
             /        |
           /    \  \ /
          (      ) | |
  ________|   _/_  | |
<__________\______)\__)
-->
<br>
{{ range .Paginator.Pages }}
        <small class="text-secondary">{{.Date | time.Format ":date_medium"}}</small>
	{{ if or (eq .Section "blog") (eq .Section "link") (eq .Section "note") }}
        <small class="read-time text-secondary">- {{ if lt (math.Round (div (countwords .Content) 250.0)) 1 }}1{{ else }}{{ (math.Round (div (countwords .Content) 250.0)) }}{{ end }} min read</small>{{ end }}

        <a style="text-decoration:none;color:white" href="{{.Permalink}}" ><h4><b>{{.Title}}</b></h4>
	</a>
	{{ range .Params.tags }}
        <a href="/tags/{{ . | urlize }}"><small style="color:#80ED99" class="badge bg-dark">{{- . -}}</small></a>
	{{ end }}
        <hr>
{{ end }}

{{ partial "pagination.html" . }}

{{ end }}


{{ define "footer" }}
{{- partial "footer.html" }}
{{ end }}
