<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="Archiko, Belajar ngoding, Toturial Python">
<meta name="description" content="{{ if .Description }} {{ .Description }} {{ else }} {{ .Site.Params.Description }} {{end}}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{{ if .Params.Thumbnail }}
<meta property="og:image" content="{{.Params.Thumbnail}}"/>
{{ else }}
<meta property="og:image" content="https://archiko.my.id/thumb.webp"/>
{{ end }}



<link rel="shortcut icon" href="/assets/favicon.ico?v=2">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap" rel="stylesheet">
<link href="/assets/bootstrap/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/default.min.css">
<link rel="stylesheet" href="/assets/css/nord.css">
                <!-- Google Adsense-->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2149089797407520" crossorigin="anonymous"></script>
