<div class="container p-3 " id="zetmono">
        <div class="navbar-nav ">
		<span style="color:#80ED99;float:left;margin-top:13px;position:absolute;margin-left:-10px;" >
			<img src="/assets/img/navicon.png" width=56>
		</span>
		
                <div class="nav-link ms-auto fas fa-bars fa-2x" href="#" id="dropdownMenuButton1" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#80ED99;float:right;">
                </div>
                <ul class="dropdown-menu dropdown-menu-end bg-dark p-3 " style="border-radius:10px" aria-labelledby="dropdownMenuButton1">
                        <li><a class="bg-transparent dropdown-item" style="color:#80ED99;" href="/"><small>/Home</small></a></li>
                        <li><a class="bg-transparent dropdown-item" style="color:#80ED99;"href="/blog"><small>/Blog</small></a></li>
                        <li><a class="bg-transparent dropdown-item" style="color:#80ED99;" href="/about"><small>/About</small></a></li>
                </ul>
        </div>
</div>
