
{{ define "title" }}
{{.Title}}
{{ end }}

{{ define "content" }}   
<script>confirm("Gunakan browser mobile untuk best experience 🔥");</script>

<!--
\|/          (__)
     `\------(oo) he?
       ||    (__)
       ||w--||     \|/
   \|/
-->

<div style="top: 30%;position: absolute">
	<br>
	<div class="typewriter">
		<div class="typewriter-text" style="text-indent:2px;">
			<small style="font-size:20px" class="text-white">Wannabe hacker
                </small>
		</div>
	</div>

	<div>
	<a href="https://instagram.com/ardho.ainullah" style="color:white;text-decoration:none;" >
                        <i class="fab fa-instagram"></i>
                </a>
                <a href="https://github.com/xhiko1" style="color:white;text-decoration:none;" >
                        <i class="fab fa-github"></i>
                </a>
                <a href="https://m.youtube.com/channel/UCdIhufVcmmsChCCnxWt4eSA" style="color:white;text-decoration:none;" >
                        <i class="fab fa-youtube"></i>
                </a>
                <a href="https://m.facebook.com/muhasabah.muhasabah.52438" style="color:white;text-decoration:none;" >
                        <i class="fab fa-facebook"></i>
                </a>
                <a href="https://twitter.com/ardho.ainullah" style="color:white;text-decoration:none;" >
                        <i class="fab fa-twitter"></i>
                </a>
	<img src="/assets/img/cute.gif" width=25 style="margin-top:-15px">
	</div>
	<br>

	<div class="mt-5">
		<a href="archives" style="color:white;text-decoration:none;">
			<small>/Posts</small>
		</a>
		<br>
		<a href="about" style="color:white;text-decoration:none;">
			<small>/About</small>
		</a>
		<br>
		<hr class="bg-secondary">		
		
	<br><br><br>
	</div>
</div>
{{ end }}
