
{{ define "title" }}
{{.Title}}
{{ end }}

{{ define "content" }}   
<script>confirm("Gunakan browser mobile untuk best experience 🔥");</script>

<!--
\|/          (__)
     `\------(oo) he?
       ||    (__)
       ||w--||     \|/
   \|/
-->

<div style="top: 40%;position: absolute">
<!--	<span class="text-white" style="font-size:30px"><b>ひこアーカイブ</b></span> -->
	<br>
	<!--
	<div class="typewriter">
		<div class="typewriter-text" style="text-indent:2px;">
			<small style="font-size:12px" class="text-secondary">a python enthusiast
                </small>
		</div>
	</div>
	-->
	<small style="font-size:12px;color:white">
terlalu banyak yang bisa dipelajari dari internet, ini membuat saya menjadi seorang labilisme yang suka belajar banyak hal.
        </small>
	<img src="/assets/img/cute.gif" width=25 style="margin-top:-15px">
	<br>

	<div class="mt-5">
		<a href="blog" style="color:white;text-decoration:none;">
			<small>/Blog</small>
		</a>
		<br>
		<a href="about" style="color:white;text-decoration:none;">
			<small>/About</small>
		</a>
		<br>
<!--
		<hr class="bg-secondary">
		<a href="https://discord.gg/7JeENZXmgF" style="color:white;text-decoration:none;" >
			<p class="badge bg-dark"><i class="fab fa-discord"></i> Discord</p>
		</a>
		<a href="https://github.com/archiko" style="color:white;text-decoration:none;" >
                        <p class="badge bg-dark"><i class="fab fa-github"></i> Github</p>
                </a>
-->
	</div>
</div>
{{ end }}
